%h1
  OPCS
  %small Operating Procedure Codes

%div{"ng-controller" => "FetchCtrl"}
  %pre http status code: {{status}}
  Search:
  %input{"ng-model" => "searchText"}
  %table#searchTextResults
    %tr
      %th Name
      %th Description
    %tr{"ng-repeat" => "code in codes | filter:searchText"}
      %td {{code.name}}
      %td {{code.description}}
