%img.media-object{:src => asset_path("logo.jpg")}

%div{"ng-controller" => "FetchCtrl"}
  %form.form-inline{role:"form"}
    .form-group
      %input.form-control{type:'text', placeholder: 'Search', 'ng-model' => 'search'}

    %button.btn.btn-primary.ladda-button{"data-style" => "zoom-out", 'ng-click' => 'searchText()'}
      %span.ladda-label Search

  %hr
  .list-group
    %a.list-group-item{"data-target" => "#showCode{{code.id}}", "data-toggle" => "modal", 'ng-repeat' => "code in codes"}
      %h4.list-group-item-heading {{code.name}}
      %p.list-group-item-text {{code.description}}

  = render 'modal'

  %hr
  .row.text-muted
    .col-md-6.col-sm-6.col-xs-6
      %strong Manuela Cresswell MD
      %small
        %br
        Core Surgical Trainee
        %br
        East of England
    .col-md-6.col-sm-6.col-xs-6.text-right
      %strong Matt Smith MB BChir MRCS DOHNS
      %small
        %br
        Specialist Registrar ENT Surgery
        %br
        East of England