%h1
  OPCS
  %small Operating Procedure Codes

%div{"ng-controller" => "FetchCtrl"}
  %pre http status code: {{status}}

  %input.form-control{"ng-model" => "searchText", placeholder: 'Search'}
  %table#searchTextResults.table.table-striped
    %tr
      %th Name
      %th Description
    %tr{"ng-repeat" => "code in codes | filter:searchText"}
      %td {{code.name}}
      %td {{code.description}}
