%h1
  OPCS
  %small.visible-sm.visible-md.visible-lg Operating Procedure Codes

%div{"ng-controller" => "FetchCtrl"}
  %form.form-inline{role:"form"}
    .form-group
      %input.form-control{type:'text', placeholder: 'Search', 'ng-model' => 'search'}

    .progress.progress-striped.active{'ng-hide' => "hideProgress",}
      .progress-bar{role: "progressbar", style:"width: 100%"}

    %button.btn.btn-primary{type: 'submit', 'ng-hide' => "hideButton", 'ng-click' => 'searchText()'} Search

  %hr
  .list-group
    %a.list-group-item{href: "/code/{{code.id}}", 'ng-repeat' => "code in codes"}
      %h4.list-group-item-heading {{code.name}}
      %p.list-group-item-text {{code.description}}
