.jumbotron
  .container
    %h1 OPCS Procedure Codes
    = form_tag '/codes/index', method: "get", class: 'form-inline'  do
      .form-group
        = search_field_tag :search, nil, class: 'typeahead form-control input-lg', placeholder: 'Enter Code'

      = submit_tag "Search", class: "btn btn-primary btn-lg"
