%img.media-object{:src => asset_path("logo.jpg")}

%div{"ng-controller" => "FetchCtrl"}
  %form{role:"form"}
    .input-group
      %input.form-control{type:'text', placeholder: 'Search', 'ng-model' => 'search'}
      %span.input-group-btn
        %button.btn.btn-primary.ladda-button{"data-style" => "zoom-out", 'ng-click' => 'searchText()'}
          %span.ladda-label Search
    %p.help-block Enter your procedure for the relevant OPCS Code
  %hr

  .info{'ng-if' => "!codes.length"}
    %blockquote
      %p
        %strong TheatreCodes.co.uk
        provides a simple method for finding the correct OPCS-4 codes used in the NHS for the classification of interventions and procedures.

      %footer This facility has become increasingly important as surgeons are often expected to self-code cases when patients are listed for a procedure in clinic or on completion of surgery in theatre.

    %p.lead This website is optimized for smartphone use. It can be added as an icon on an iphone or android device using the 'add to the home screen' function.

  .list-group
    %a.list-group-item{"data-target" => "#showCode{{code.id}}", "data-toggle" => "modal", 'ng-repeat' => "code in codes"}
      %h4.list-group-item-heading {{code.name}}
      %p.list-group-item-text {{code.description}}

  = render 'modal'

  %hr
  %small.text-muted
    The OPCS-4 classification system is owned and maintained by the Health and Social Care Information Centre.

  .row.text-muted
    .col-md-6.col-sm-6.col-xs-6
      %strong Manuela Cresswell MD
      %small
        %br
        Core Surgical Trainee
        %br
        East of England
    .col-md-6.col-sm-6.col-xs-6.text-right
      %strong Matt Smith MB BChir MRCS DOHNS
      %small
        %br
        Specialist Registrar ENT Surgery
        %br
        East of England