!!!
%html{"ng-app" => "opcsApp"}
  %head
    %title Opcs
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}

    / Hide the address bar in a fullscreen iPhone or Android web app.
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}
    %meta{content: "black", name: "apple-mobile-web-app-status-bar-style"}

    / Bootstrap
    %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel: "stylesheet"}

    / Optional theme
    %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css", rel: "stylesheet"}

    / Apple Touch Icons
    %link{href: "/apple-touch-icon.png", rel: "apple-touch-icon"}
    %link{href: "/apple-touch-icon.png", rel: "apple-touch-icon-precomposed"}
  %body
    .container= yield

    / Include all compiled plugins (below), or include individual files as needed
    %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}
